# General
ENV=development
DEBUG=True
MAX_CONCURRENT_ACTIONS=10
TOP_LEVEL_PACKAGE_NAME=shipping

# Loop
LOOP_TYPE=uvloop

# Primary Adapters
HTTP_DEBUG=True
HTTP_PORT=8010

# Persistence
DATABASE_TYPE=memory

POSTGRES_DSN=postgresql://<username>:<password>@<host>:<port>/shipping

# Auth
AUTH_FULL_ACCESS_TOKEN=fill-in-a-secure-password-here

# PubSub
DOMAIN_PUBSUB_PROVIDER=memory           # memory, kafka or azure
DOMAIN_PUBSUB_TOPIC=webshop.shipping
DOMAIN_PUBSUB_GROUP=shipping

INTERCHANGE_PUBSUB_PROVIDER=memory      # memory, kafka or azure
INTERCHANGE_PUBSUB_TOPIC=webshop.interchange
INTERCHANGE_PUBSUB_GROUP=shipping

KAFKA_BOOTSTRAP_SERVERS=localhost:19092

AZURE_EVENT_HUBS_NAMESPACE=shipping.servicebus.windows.net
AZURE_EVENT_HUBS_NAMESPACE_CONN_STRING=
AZURE_EVENT_HUBS_CHECKPOINT_STORE_CONN_STRING=
AZURE_EVENT_HUBS_BLOB_CONTAINER_NAME=event-hubs-checkpoint-store

# Jobs
JOBS_SCHEDULER_TYPE=memory
JOBS_SCHEDULER_DSN=postgresql://<username>:<password>@<host>:<port>/shipping

# Slack
SLACK_TOKEN=fill-in-your-slack-token-here

# Logging
LOG_ENABLED=true

LOG_KIBANA_ENABLED=false
LOG_KIBANA_URL=https://es.logs.local.shipping.com:443
LOG_KIBANA_USERNAME=
LOG_KIBANA_PASSWORD=

LOG_SLACK_ENABLED=false
LOG_SLACK_CHANNEL_ERRORS=shipping-errors

# APIs
BASE_URL=http://localhost:8010/shipping

# Tasks
TASK_RUNNER_USERNAME=task-runner@example.com
TASK_RUNNER_PASSWORD=fill-in-your-secure-password-here
